<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Spring Boot Web App Tirocinio</title>
</head>
<body bgcolor=#8fbc8f>
	<h1 align="center">CONSEGNA HOMEWORK</h1>

	<form action="#" th:action="@{/inserisciDati}" th:object="${StudenteForm}" method="post"  enctype="multipart/form-data">
		<table align="center" width="15%">


			<tr>
				<td>Nome:</td><td> <input type="text" th:field="*{nome}"></td>
			</tr>
			<tr>
				<td>Cognome: </td><td> <input type="text" th:field="*{cognome}"></td>
			</tr>
			<tr>
				<td>Email: </td><td> <input type="text" th:field="*{email}"></td>
			</tr>
			<tr>
				<td>Matricola:</td><td> <input type="text" th:field="*{matricola}"></td>
			</tr>
			
			<!--  <tr>
				<td>File:</td><td> <input type="file" th:field="*{file}"></td>
			</tr>
			-->
			
			<tr>
				<td style="padding: 1cm"><button type="submit">Invio</button></td>
			</tr>
		</table>
	</form>
</body>
</html>